@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-image: url(blue.jpg);
    background-size: cover;
    background-position: center;
    font-family: sans-serif;


}
.menu-bar{
    background-color: blue;
    text-align: center;
    float: right;

}
.menu-bar ul{
    display: flex;
    list-style: none;
    color: #fff;
}
.menu-bar ul li{
    width: 120px;
    margin: 15px;
    padding: 15px;
}
.menu-bar ul li a{
    text-decoration: none;
    color: #fff;
}
.menu-bar ul li:hover{
    background: tomato;
    border-radius: 3px;
}
.menu-bar .fa{
    margin-right: 8px;
}
.sub-menu-1{
    display: none;
}
.menu-bar ul li:hover .sub-menu-1{
    display: block;
    position: absolute;
    background-color: grey;
    margin-top: 15px;
    margin-left: -15px;
}
.menu-bar ul li:hover .sub-menu-1 ul{
    display: block;
    margin: 10px;
}
.menu-bar ul li:hover .sub-menu-1 ul li{
    width: 150px;
    padding: 10px;
    border-bottom: 1px dotted #fff;
    background: transparent;
    border-radius: 0;
    text-align: left;
}
.menu-bar ul li:hover .sub-menu-1 ul li:last-child{
    border-bottom: none;
}
.menu-bar ul li:hover .sub-menu-1 ul li a:hover{
    color: #b2ff00;
}
.sub-menu-2{
    position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  max-width: 350px;
  width: 100%;
  background: grey;
  padding: 30px;
  border-radius: 5px;
  box-shadow: 4px 4px 2px rgba(254,236,164,1); 
}
.sub-menu-2 .input_field{
margin-bottom: 10px;
}
.sub-menu-2 .input_field input[type="text"],
.sub-menu-2 textarea{
  border: 1px solid #e0e0e0;
  width: 100%;
  padding: 10px;
}
.sub-menu-2 textarea{
    resize: none;
    height: 80px;
}
.sub-menu-2 .btn input[type="submit"]{
    border: 0px;
  margin-top: 15px;
  padding: 10px;
  text-align: center;
  width: 100%;
  background: #fece0c;
  color: #332902;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-weight: bold;
  border-radius: 25px;
  cursor: pointer;
}
textarea::-webkit-scrollbar{
    width: 4px;
}
#error_message{
    margin-bottom: 20px;
  background: #fe8b8e;
  padding: 0px;
  text-align: center;
  font-size: 14px;
  transition: all 0.5s ease;
}
